/* Global css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* For Desktop */
.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #b0b0b0;
  font-size: 1.75rem;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000;
  padding: 0;
  height: 3.125rem;
  z-index: 1; 
}

/* For tablets */
@media (max-width: 64rem) {
  .headerTitle {
    font-size:  1.25rem;
  }
}

/* For mobile */
@media (max-width: 48rem) {
  .headerTitle {
    font-size:  1rem; 
  }
}
